<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ssm.oa.mapper.RoleMapper" >
  <resultMap id="BaseResultMap" type="cn.ssm.oa.po.Role" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap type="role" id="findByIdResultMap" extends="BaseResultMap">
  	<collection property="privileges" ofType="privilege">
  		<id column="privilegeId" property="id" />
  		<result column="privilegeName" property="name" />
  	</collection>
  </resultMap>
  
  <!-- 获得包括关联的权限列表的岗位 -->
  <select id="findById" parameterType="long" resultMap="findByIdResultMap">
  	SELECT
		r.*, rp.privilegeId,
		p. NAME privilegeName
	FROM
		itcast_role r,
		itcast_role_privilege rp,
		itcast_privilege p
	WHERE
		r.id = rp.roleId
	AND rp.privilegeId = p.id
	AND r.id = #{id}
  </select>
  
  <!-- 删除该岗位之前关联的权限记录 -->
  <delete id="deleteRolePrivilege" parameterType="long">
  	DELETE
	FROM
		itcast_role_privilege
	WHERE
		roleId = #{id}
  </delete>
  
  <!-- 插入该岗位设置的最新权限记录 -->
  <insert id="insertRolePrivilege" parameterType="role">
  	INSERT INTO itcast_role_privilege
  	VALUES
	<foreach collection="privilegeIds" item="privilegeId" separator=",">
		(#{id}, #{privilegeId})
	</foreach>
  </insert>
  
</mapper>