<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ssm.oa.mapper.TopicMapper" >
  <resultMap id="BaseResultMap" type="cn.ssm.oa.po.Topic" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="faceIcon" property="faceIcon" jdbcType="VARCHAR" />
    <result column="postTime" property="postTime" jdbcType="TIMESTAMP" />
    <result column="ipAddr" property="ipAddr" jdbcType="VARCHAR" />
    <result column="authorId" property="authorId" jdbcType="BIGINT" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="replyCount" property="replyCount" jdbcType="INTEGER" />
    <result column="lastUpdateTime" property="lastUpdateTime" jdbcType="TIMESTAMP" />
    <result column="forumId" property="forumId" jdbcType="BIGINT" />
    <result column="lastReplyId" property="lastReplyId" jdbcType="BIGINT" />
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  
  <!-- 懒加载方式关联作者信息 -->
  <resultMap type="topic" id="getByIdLazyLoadingResultMap" extends="BaseResultMap">
  	<association property="author" column="authorId" javaType="user" select="cn.ssm.oa.mapper.UserMapper.selectByPrimaryKey">
  	</association>
  </resultMap>
  
  <!-- 自定义根据id查询主题记录，而不使用通用mapper自带接口selectByPrimaryKey
	 	原因：使用懒加载模式，必须重写根据id查询记录的方法 -->
  <select id="getById" parameterType="long" resultMap="getByIdLazyLoadingResultMap">
  	SELECT * FROM itcast_topic WHERE id = #{id}
  </select>
  
</mapper>